@{
    ViewBag.Title = "Confirmação de Recupereção de Senha";
    Layout = "~/Views/Shared/_LayoutSemBanner.cshtml";
    var error = TempData["Error"];
}

<div class="col-md-4">
    <div class="list-group">
        <a href="@Url.Action("Index","Home")" class="list-group-item">
            <h4 class="list-group-item-heading">Voltar para Home</h4>
        </a>
        <a href="@Url.Action("Login","Account")" class="list-group-item">
            <h4 class="list-group-item-heading">Faça Login</h4>
        </a>
    </div>
</div>

<div class="col-md-1">


</div>

<div class="col-md-6">
    @if (string.IsNullOrEmpty(error.ToString()))
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>Um email de recuperação foi enviado. Verifique seu email para redefinir sua senha.</p>
        </div>
    }
    else
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>@error.ToString()</p>
        </div>
    }

</div>