@{
    ViewBag.Title = "Redefinição Feita Com Sucesso!";
    Layout = "~/Views/Shared/_LayoutSemBanner.cshtml";
}

<div class="col-md-4">
    <div class="list-group">
        <a href="@Url.Action("Index","Home")" class="list-group-item">
            <h4 class="list-group-item-heading">Voltar para Home</h4>
        </a>
        <a href="@Url.Action("Login","Account")" class="list-group-item">
            <h4 class="list-group-item-heading">Faça Login</h4>
        </a>
    </div>
</div>

<div class="col-md-1">

</div>

<div class="col-md-6">
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Sua senha foi redefinida com sucesso! @Html.ActionLink("Faça login Clicando aqui!","Login","Account")</p>
    </div>
</div>