@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_LayoutSemBanner.cshtml";
}
<blockquote>
    <p>Lance um desafio é um site que abriga diversos desafios sobre programação, onde você pode praticar seus conhecimentos resolvendo eles, afinal programar é praticar sempre.</p>
</blockquote>