@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_LayoutSemBanner.cshtml";
}

<address>
    <strong>Envie um email para o desenvolvedor</strong>  <a href="mailto:brunobrasileiro0144@gmail.com">clicando aqui!</a><br />
</address>